* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(imagenes/login.png) no-repeat center center/cover;
}

/* Contenido */
#contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 80vw;
    max-width: 600px;
    background-color: aliceblue;
    border: 4px solid black;
}

h1{
    width: 100%;
    font-size: 3rem;
    margin: 20px 10px;
}

ul {
   
    width: 100%;
    height: 100%;
    
}


.topping {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 15px 0;

}
.fondo-marron {
    background-color: #0707f4;


}

.fondo-naranja {
    background-color: #080708;
}

.texto-verde {
    color: rgb(14, 3, 12);
}


.hover-color {
    background-color: #686b6e 
}

.selected-color {
    background-color: #607ae1 
}
