const toppings = document.getElementsByClassName('topping');

for (const topping of toppings) {

    
    topping.addEventListener('mouseenter', () => {
        topping.classList.add('hover-color');
    });

  
    topping.addEventListener('mouseleave', () => {
        topping.classList.remove('hover-color');
    });


    topping.addEventListener('click', () => {

   
        for (const t of toppings) {
            t.classList.remove('selected-color');
        }

      
        topping.classList.add('selected-color');

        console.log(topping.innerText);
    });
}



document.getElementById("Ferrari").addEventListener("click", () => {

    document.body.style.backgroundImage = "url('Imagenes/Ferrari.png')";

});



document.getElementById("Lamborghini").addEventListener("click", () => {

    document.body.style.backgroundImage = "url('Imagenes/lamborghini.png')";

});



document.getElementById("BMW").addEventListener("click", () => {

    document.body.style.backgroundImage = "url('Imagenes/bmw.png')";

});



document.getElementById("Mercedes").addEventListener("click", () => {

    document.body.style.backgroundImage = "url('Imagenes/Mercedes.png')";

});
